* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey;
}

.navbar {
    background-color: black;
    color: white;
    padding: 15px;
    position: sticky;
}

ul {
    display: inline-block;
    margin-left: 45%;
    margin-top: 0%;
}

.navbar h1 {
    margin-bottom: 0%;
}

li {
    display: inline-block;
    color: grey;
    cursor: pointer;
}

li:hover {
    color: white;
}

.product {
    margin-top: 30px;
    text-align: center;
}

.box {
    border: solid black 2px;
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
}

.box button {
    color: white;
    background-color: black;
    padding: 10px;
    outline: none;
    margin: 5px;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;

}

.box:hover {
    background-color: grey;
}

.contact {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.overlay {
    background-color: grey;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1;
    display: none;

}

.popup {
    background-color: black;
    color: white;
    width: 20%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 2;
    display: none;
}

.popup button {
    background: transparent;
    padding: 12px;
    margin: 10px;
    color: white;
    background-color: grey;
    border-radius: 12px;
    border: none;

}

.popup input {
    background-color: gray;
    color: white;
    background: transparent;
    border-bottom: solid grey 1px;
    padding: 12px;
    margin: 10px;
}

.popup input::placeholder {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.popup input:focus {
    outline: none;
}

.popup button:hover {
    background-color: plum;
}

.popup button:focus {
    outline: none;
}

.contact img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:1000px) {
    .box {
        width: 45%;
        margin-top: 10px;
    }
}

@media screen and (max-width:700px) {
    .box {
        width: 97%;
        margin-top: 10px;
    }
}

@media screen and (max-width:600px) {
    .navbar {
        width: 100%;

    }

    .contact {
        width: 100%;

    }
}